header {
  text-align: center;
  position: absolute;
  z-index: 100;
  width: 100%;
  overflow: hidden;

  .barra-verde {
    position: absolute;
    background-color: green;
    z-index: 1000;
    width: 100vw;
    left: 0;
    height: 4px;
    bottom: -4px;
  }

  /* background-color: #1d1d1d; */
  color: white;

  .content-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    gap: 16px;
    text-transform: uppercase;
    font-family: "montserrat", sans-serif;
    position: relative;

    .logo {
      color: white;
      font-weight: 600;
    }

    nav {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      text-transform: uppercase;

      a {
        color: white;
        font-weight: 600;
      }
    }
  }
}
